@model EasyPay.Models.ServiceOperator
@{
    ViewBag.Title = "Edit";
}
@*<h2>Edit</h2>*@
<div id="wrapper">
    <div id="login_title">
        <h5>
            Edit</h5>
    </div>
    <div id="container">
        <div id="inner_content">
            <div id="login_form">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>ServiceOperator</legend>
                        @Html.HiddenFor(model => model.ServiceOperatorId)
                        <li>
                            <lable for="name">Operator Name</lable>
                        </li>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OperatorName)
                            @Html.ValidationMessageFor(model => model.OperatorName)
                        </div>
                        <li>
                            <lable for="name">Operator Code</lable>
                        </li>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OperatorCode)
                            @Html.ValidationMessageFor(model => model.OperatorCode)
                        </div>
                        <li>
                            <lable for="name">Service Type</lable>
                        </li>
                        <div class="editor-field">
                            @Html.DropDownList("ServiceTypeId", String.Empty)
                            @Html.ValidationMessageFor(model => model.ServiceTypeId)
                        </div>
                        <p>
                            <li>
                                <input type="submit" class="save_btn" />
                            </li>
                        </p>
                    </fieldset>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
