@model EasyPay.Models.Category
@{
    ViewBag.Title = "Edit";
}
@*<h2>Edit</h2>*@
<div id="wrapper">
    <div id="login_title">
        <h5>
            Edit</h5>
    </div>
    <div id="container">
        <div id="inner_content">
            <div id="login_form">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        @*<legend>Category</legend>*@
                        @Html.HiddenFor(model => model.CategoryId)
                        <li>
                            <lable for="Name">Category Name</lable>
                        </li>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.CategoryName)
                            @Html.ValidationMessageFor(model => model.CategoryName)
                        </div>
                        <li>
                            <lable for="Name">Category Class Name</lable>
                        </li>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.CategoryClassName)
                            @Html.ValidationMessageFor(model => model.CategoryClassName)
                        </div>
                        <p>
                            <li>
                                <input type="submit" class="save_btn" />
                            </li>
                        </p>
                    </fieldset>
                }
                <div>
                    <li></li>
                    @Html.ActionLink("Back to List", "Index")
                    </li>
                </div>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</div>
