@model EasyPay.Models.LocalPasswordModel
@*<h3>
    Change password</h3>*@
<div id="wrapper">
    <div id="login_title">
        <h5>
            Change Password Form</h5>
    </div>
    <div id="container">
        <div id="inner_content">
            <div id="login_form">
                @using (Html.BeginForm("Manage", "Account"))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary()*@


                    <fieldset>
                        <ul>
                            <li>Current Password
                                @Html.PasswordFor(m => m.OldPassword)
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </li>
                            <li>New Password
                                @Html.PasswordFor(m => m.NewPassword)
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </li>
                            <li>Confirm new Password
                                @Html.PasswordFor(m => m.ConfirmPassword)                               
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)                               
                                 
                                <li>
                                    <input type="submit" class="save_btn" />
                                    
                                </li>
                            </li>
                        </ul>
                    </fieldset>
    
                }
            </div>
        </div>
    </div>
</div>
