@model EasyPay.Models.Order

@{
    ViewBag.Title = "Details";
}

<div id="wrapper">
    <div id="login_title">
        <h5>
            Detail</h5>
    </div>
    <div id="container">
        <div id="inner_content">
            <div id="login_form">

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProviderService.Format)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProviderService.Format)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.commission)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.commission)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AmountString)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AmountString)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderStatusImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStatusImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comments)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
</div>
</div>
</div>