@model EasyPay.Models.UserWallet
@{
    ViewBag.Title = "Details";
}
@*<h2>Details</h2>*@
<div id="wrapper">
    <div id="login_title">
        <h5>
            Details</h5>
    </div>
    <div id="container">
        <div id="inner_content">
            <div id="login_form">
                <fieldset>
                    <legend>UserWallet</legend>
                    <div class="display-label">
                        <li>
                            @Html.DisplayNameFor(model => model.UserProfile.UserName)
                        </li>
                    </div>
                    <div class="display-field">
                        <li>
                            @Html.DisplayFor(model => model.UserProfile.UserName)
                        </li>
                    </div>
                    <div class="display-label">
                        <li>
                            @Html.DisplayNameFor(model => model.Balance)
                        </li>
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Balance)
                    </div>
                </fieldset>
                <p>
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.UserWalletId }) |
                        @Html.ActionLink("Back to List", "Index")
                    </li>
                </p>
            </div>
        </div>
    </div>
